APP_ENV=staging
PORT=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_LOGGING=
TYPEORM_LOGGING=
TYPEORM_MIGRATIONS_RUN=
RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=default
JWT_PUBLIC_KEY_PATH=
PAYMENT_SERVICE_BASE_URL=
