APP_ENV=staging
PORT=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_LOGGING=
TYPEORM_LOGGING=
TYPEORM_MIGRATIONS_RUN=
RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=default
JWT_PUBLIC_KEY_PATH=
PAYMENT_SERVICE_BASE_URL=

SERVICE_ID=proservice
SERVICE_SECRET=IZ6Bn9YyjcIzOmO54CdKO9XlhB6vDtoCIayTvPeCg0vhZpvQ2CSZ4FVuiODPFGK8
SERVICE_KID=proservice-key-v1
SERVICE_PUBKEY_PATH=/home/edoka/dev/easybud/pro-service/keys/proservice_public.pem
SERVICE_PRIVKEY_PATH=/home/edoka/dev/easybud/pro-service/keys/proservice_private.pem

AUTH_SERVICE_URL=http://localhost:8001

REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=1

